SUBSYSTEM=="input", \
  ATTRS{name}=="ThinkPad Compact Bluetooth Keyboard with TrackPoint", \
  RUN+="/etc/udev/scripts/tp-compact-keyboard --fn-lock-enable"
